[Unit]
Description=Pool Controller
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/pool_controller.py
Restart=always
RestartSec=10
User=root
Environment=GPIOZERO_PIN_FACTORY=lgpio
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
